HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
HelloWorld/.vs/HelloWorld/v17/.suo
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-wal
HelloWorld/.vs/HelloWorld/FileContentIndex/8d9e7489-f216-40d4-827c-d29538cd8dcb.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/d866a22e-c599-40df-b59d-86e462dbf975.vsidx
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-shm
HelloWorld/.vs/HelloWorld/v17/Browse.VC.opendb
HelloWorld/.vs/HelloWorld/v17/DocumentLayout.backup.json
HelloWorld/.vs/HelloWorld/v17/DocumentLayout.json
HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/3937f8c7a437d518/HELLOWWORLD.ipch
HelloWorld/HelloWorld.sln
HelloWorld/HelloWorld/HelloWorld.vcxproj
HelloWorld/HelloWorld/HelloWorld.vcxproj.filters
HelloWorld/HelloWorld/HelloWorld.vcxproj.user
HelloWorld/HelloWorld/x64/Debug/HelloWorld.exe.recipe
HelloWorld/HelloWorld/x64/Debug/HelloWorld.ilk
HelloWorld/HelloWorld/x64/Debug/HelloWorld.log
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.command.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/Cl.items.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.read.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.write.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.command.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.read.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.secondary.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.write.1.tlog
HelloWorld/HelloWorld/x64/Debug/HellowWorld.obj
HelloWorld/HelloWorld/x64/Debug/vc143.idb
HelloWorld/HelloWorld/x64/Debug/vc143.pdb
HelloWorld/x64/Debug/HelloWorld.exe
HelloWorld/x64/Debug/HelloWorld.pdb
HelloWorld/.vs/HelloWorld/FileContentIndex/e94d700a-d4e7-4e60-a6a0-ed4f33ef846f.vsidx
InputFucntionOperation/.vs/InputFucntionOperation/FileContentIndex/28c0fac1-02cc-414b-b075-5cac6b54f8d3.vsidx
InputFucntionOperation/.vs/InputFucntionOperation/FileContentIndex/3f65c58f-747e-4505-a7e0-ce4ff904ac66.vsidx
InputFucntionOperation/.vs/InputFucntionOperation/FileContentIndex/50cc4d50-7918-4cd7-b650-2bd400909148.vsidx
InputFucntionOperation/.vs/InputFucntionOperation/FileContentIndex/72032dc6-6635-4c14-8d17-20e025114062.vsidx
InputFucntionOperation/.vs/InputFucntionOperation/FileContentIndex/867cbe83-f007-44a2-af18-6cc081fd133d.vsidx
InputFucntionOperation/.vs/InputFucntionOperation/v17/.suo
InputFucntionOperation/.vs/InputFucntionOperation/v17/Browse.VC.db
InputFucntionOperation/.vs/InputFucntionOperation/v17/Browse.VC.db-shm
InputFucntionOperation/.vs/InputFucntionOperation/v17/Browse.VC.db-wal
InputFucntionOperation/.vs/InputFucntionOperation/v17/Browse.VC.opendb
InputFucntionOperation/.vs/InputFucntionOperation/v17/DocumentLayout.backup.json
InputFucntionOperation/.vs/InputFucntionOperation/v17/DocumentLayout.json
InputFucntionOperation/.vs/InputFucntionOperation/v17/ipch/AutoPCH/198827467e1db738/1_3_HOMEWORK2.ipch
InputFucntionOperation/.vs/InputFucntionOperation/v17/ipch/AutoPCH/49598a3aef761d4f/1_3_HOMEWORK3.ipch
InputFucntionOperation/.vs/InputFucntionOperation/v17/ipch/AutoPCH/75eea16661d56d5/1_3_HOMEWORK1.ipch
InputFucntionOperation/.vs/InputFucntionOperation/v17/ipch/AutoPCH/893e0ce61fdd0629/MAIN.ipch
InputFucntionOperation/InputFucntionOperation.sln
InputFucntionOperation/InputFucntionOperation/InputFucntionOperation.vcxproj
InputFucntionOperation/InputFucntionOperation/InputFucntionOperation.vcxproj.filters
InputFucntionOperation/InputFucntionOperation/InputFucntionOperation.vcxproj.user
InputFucntionOperation/InputFucntionOperation/x64/Debug/1_3_HomeWork1.obj
InputFucntionOperation/InputFucntionOperation/x64/Debug/1_3_HomeWork2.obj
InputFucntionOperation/InputFucntionOperation/x64/Debug/1_3_HomeWork3.obj
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/CL.command.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/Cl.items.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/CL.read.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/CL.write.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/InputFucntionOperation.lastbuildstate
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/link.command.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/link.read.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/link.secondary.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFuc.b2b614d2.tlog/link.write.1.tlog
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFucntionOperation.exe.recipe
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFucntionOperation.ilk
InputFucntionOperation/InputFucntionOperation/x64/Debug/InputFucntionOperation.log
InputFucntionOperation/InputFucntionOperation/x64/Debug/Main.obj
InputFucntionOperation/InputFucntionOperation/x64/Debug/vc143.idb
InputFucntionOperation/InputFucntionOperation/x64/Debug/vc143.pdb
InputFucntionOperation/x64/Debug/InputFucntionOperation.exe
InputFucntionOperation/x64/Debug/InputFucntionOperation.pdb
ConditionLoop/.vs/ConditionLoop/FileContentIndex/0491b8e5-d734-4693-8580-d9174da0ca48.vsidx
ConditionLoop/.vs/ConditionLoop/FileContentIndex/415871c5-429a-486d-9912-c0d3af6ed5eb.vsidx
ConditionLoop/.vs/ConditionLoop/FileContentIndex/a06c5dd0-6ad9-47b5-a294-3734750f70a9.vsidx
ConditionLoop/.vs/ConditionLoop/FileContentIndex/c03857d9-b417-4366-b441-a9fdec1df05b.vsidx
ConditionLoop/.vs/ConditionLoop/v17/.suo
ConditionLoop/.vs/ConditionLoop/v17/Browse.VC.db
ConditionLoop/.vs/ConditionLoop/v17/Browse.VC.db-shm
ConditionLoop/.vs/ConditionLoop/v17/Browse.VC.db-wal
ConditionLoop/.vs/ConditionLoop/v17/Browse.VC.opendb
ConditionLoop/.vs/ConditionLoop/v17/DocumentLayout.backup.json
ConditionLoop/.vs/ConditionLoop/v17/DocumentLayout.json
ConditionLoop/.vs/ConditionLoop/v17/ipch/AutoPCH/3a4f1cff6f85903/1-4_HOMEWORK.ipch
ConditionLoop/.vs/ConditionLoop/v17/ipch/AutoPCH/8eff3ab78c56042f/EXAMPLE1.ipch
ConditionLoop/.vs/ConditionLoop/v17/ipch/AutoPCH/aaf41d95da263897/MAIN.ipch
ConditionLoop/ConditionLoop.sln
ConditionLoop/ConditionLoop/ConditionLoop.vcxproj
ConditionLoop/ConditionLoop/ConditionLoop.vcxproj.filters
ConditionLoop/ConditionLoop/ConditionLoop.vcxproj.user
ConditionLoop/ConditionLoop/x64/Debug/1-4_HomeWork.obj
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.exe.recipe
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.ilk
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.log
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/CL.command.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/Cl.items.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/CL.read.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/CL.write.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/ConditionLoop.lastbuildstate
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/link.command.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/link.read.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/link.secondary.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/ConditionLoop.tlog/link.write.1.tlog
ConditionLoop/ConditionLoop/x64/Debug/Example1.obj
ConditionLoop/ConditionLoop/x64/Debug/Main.obj
ConditionLoop/ConditionLoop/x64/Debug/vc143.idb
ConditionLoop/ConditionLoop/x64/Debug/vc143.pdb
ConditionLoop/x64/Debug/ConditionLoop.exe
ConditionLoop/x64/Debug/ConditionLoop.pdb
NestedLoop/.vs/NestedLoop/FileContentIndex/1a11ffe9-9a43-46ad-9a77-fdb02e215552.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/90f6b916-e4a4-413f-9bd1-7ff4069dbb82.vsidx
NestedLoop/.vs/NestedLoop/v17/Browse.VC.db
NestedLoop/.vs/NestedLoop/v17/Browse.VC.db-shm
NestedLoop/.vs/NestedLoop/v17/Browse.VC.db-wal
NestedLoop/.vs/NestedLoop/v17/Browse.VC.opendb
NestedLoop/NestedLoop.sln
NestedLoop/NestedLoop/NestedLoop.vcxproj
NestedLoop/NestedLoop/NestedLoop.vcxproj.filters
NestedLoop/NestedLoop/NestedLoop.vcxproj.user
NestedLoop/.vs/NestedLoop/FileContentIndex/95f323e7-0345-4b89-9622-df2470c53e1b.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/bd76ce3b-a502-46da-8fa6-f38725d5750f.vsidx
NestedLoop/.vs/NestedLoop/v17/.suo
NestedLoop/.vs/NestedLoop/v17/DocumentLayout.json
NestedLoop/.vs/NestedLoop/v17/ipch/AutoPCH/cc841c86da048b9b/MAIN.ipch
NestedLoop/NestedLoop/x64/Debug/Main.obj
NestedLoop/NestedLoop/x64/Debug/NestedLoop.exe.recipe
NestedLoop/NestedLoop/x64/Debug/NestedLoop.ilk
NestedLoop/NestedLoop/x64/Debug/NestedLoop.log
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/CL.command.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/Cl.items.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/CL.read.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/CL.write.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/link.command.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/link.read.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/link.secondary.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/link.write.1.tlog
NestedLoop/NestedLoop/x64/Debug/NestedLoop.tlog/NestedLoop.lastbuildstate
NestedLoop/NestedLoop/x64/Debug/vc143.idb
NestedLoop/NestedLoop/x64/Debug/vc143.pdb
NestedLoop/x64/Debug/NestedLoop.exe
NestedLoop/x64/Debug/NestedLoop.pdb
NestedLoop/.vs/NestedLoop/FileContentIndex/ee75fb1b-1fcd-40b6-b1e7-cf977e43800f.vsidx
NestedLoop/NestedLoop/x64/Debug/Prac3.obj
NestedLoop/NestedLoop/x64/Debug/Prac2.obj
NestedLoop/NestedLoop/x64/Debug/Prac1.obj
NestedLoop/.vs/NestedLoop/v17/ipch/AutoPCH/ea9d0fcd1583ce13/VCTMP87104_878982.MAIN.00000000.ipch
NestedLoop/.vs/NestedLoop/v17/ipch/AutoPCH/ea7150d539e4f4d9/PRAC1.ipch
NestedLoop/.vs/NestedLoop/v17/ipch/AutoPCH/d81b30f74f9acaf3/PRAC3.ipch
NestedLoop/.vs/NestedLoop/v17/ipch/AutoPCH/a9fd0e02dfb4661c/PRAC2.ipch
NestedLoop/.vs/NestedLoop/v17/DocumentLayout.backup.json
NestedLoop/.vs/NestedLoop/FileContentIndex/b2b5a6b2-d699-4a47-8914-13e79f03bcc8.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/a0dd7f3c-b911-4c6c-a81b-5553e2e5346a.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/80026bb8-5bd5-4388-9629-9fa2a75397ca.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/78802611-9f9f-4849-917f-10e182f91a24.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/7059ab4b-0c28-4004-9c1d-c8c807b74f0f.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/652fe6b3-5a04-42da-aa2e-ae25f88b7a97.vsidx
NestedLoop/.vs/NestedLoop/FileContentIndex/6ece3556-37cf-4c3f-a054-11753f7f0cf7.vsidx
NestedLoop/.vs/NestedLoop/v17/ipch/AutoPCH/abd6f3ebc0aec32/1-5_HOMEWORK.ipch
NestedLoop/NestedLoop/x64/Debug/1-5_HomeWork.obj
Array/.vs/Array/CopilotIndices/17.14.698.11175/CodeChunks.db
Array/.vs/Array/CopilotIndices/17.14.698.11175/SemanticSymbols.db
Array/.vs/Array/FileContentIndex/35785925-0e47-48b5-96e8-f7514030198c.vsidx
Array/.vs/Array/FileContentIndex/44f17177-ecb9-4d27-b629-12235148c76f.vsidx
Array/.vs/Array/FileContentIndex/73457731-8a85-4cdd-be80-ae75ac51b7b8.vsidx
Array/.vs/Array/FileContentIndex/e135e75e-8b60-4d99-abea-96039ca8ea0a.vsidx
Array/.vs/Array/FileContentIndex/ff75897f-f07c-4b03-9792-3d018f44aba3.vsidx
Array/.vs/Array/v17/.suo
Array/.vs/Array/v17/Browse.VC.db
Array/.vs/Array/v17/DocumentLayout.backup.json
Array/.vs/Array/v17/DocumentLayout.json
Array/.vs/Array/v17/ipch/AutoPCH/2681a715de5c1cc2/PRAC2.ipch
Array/.vs/Array/v17/ipch/AutoPCH/30292d0755215285/MAIN.ipch
Array/.vs/Array/v17/ipch/AutoPCH/5805ca0a5125aa99/PRAC3.ipch
Array/.vs/Array/v17/ipch/AutoPCH/be07cac71061417f/1-6_HOMEWORK.ipch
Array/.vs/Array/v17/ipch/AutoPCH/ef2aaa314eda2bb3/PRAC1.ipch
Array/.vs/Array/v17/Solution.VC.db
Array/Array.sln
Array/Array/Array.vcxproj
Array/Array/Array.vcxproj.filters
Array/Array/Array.vcxproj.user
Array/Array/x64/Debug/1-6_HomeWork.obj
Array/Array/x64/Debug/Array.exe.recipe
Array/Array/x64/Debug/Array.ilk
Array/Array/x64/Debug/Array.log
Array/Array/x64/Debug/Array.tlog/Array.lastbuildstate
Array/Array/x64/Debug/Array.tlog/CL.command.1.tlog
Array/Array/x64/Debug/Array.tlog/Cl.items.tlog
Array/Array/x64/Debug/Array.tlog/CL.read.1.tlog
Array/Array/x64/Debug/Array.tlog/CL.write.1.tlog
Array/Array/x64/Debug/Array.tlog/link.command.1.tlog
Array/Array/x64/Debug/Array.tlog/link.read.1.tlog
Array/Array/x64/Debug/Array.tlog/link.secondary.1.tlog
Array/Array/x64/Debug/Array.tlog/link.write.1.tlog
Array/Array/x64/Debug/main.obj
Array/Array/x64/Debug/Prac1.obj
Array/Array/x64/Debug/Prac2.obj
Array/Array/x64/Debug/Prac3.obj
Array/Array/x64/Debug/vc143.idb
Array/Array/x64/Debug/vc143.pdb
Array/x64/Debug/Array.exe
Array/x64/Debug/Array.pdb
StructTypeCasting/.vs/StructTypeCasting/CopilotIndices/17.14.698.11175/CodeChunks.db
StructTypeCasting/.vs/StructTypeCasting/CopilotIndices/17.14.698.11175/SemanticSymbols.db
StructTypeCasting/.vs/StructTypeCasting/FileContentIndex/8ac4ee34-2949-4ea7-8a80-89d876aeae9c.vsidx
StructTypeCasting/.vs/StructTypeCasting/FileContentIndex/b63e9820-6393-4501-b6cc-07055e06a173.vsidx
StructTypeCasting/.vs/StructTypeCasting/v17/.suo
StructTypeCasting/.vs/StructTypeCasting/v17/Browse.VC.db
StructTypeCasting/.vs/StructTypeCasting/v17/DocumentLayout.backup.json
StructTypeCasting/.vs/StructTypeCasting/v17/DocumentLayout.json
StructTypeCasting/.vs/StructTypeCasting/v17/ipch/AutoPCH/4ef2cde39e91f7c4/MAIN.ipch
StructTypeCasting/StructTypeCasting.sln
StructTypeCasting/StructTypeCasting/StructTypeCasting.vcxproj
StructTypeCasting/StructTypeCasting/StructTypeCasting.vcxproj.filters
StructTypeCasting/StructTypeCasting/StructTypeCasting.vcxproj.user
StructTypeCasting/StructTypeCasting/x64/Debug/Main.obj
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/CL.command.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/Cl.items.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/CL.read.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/CL.write.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/link.command.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/link.read.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/link.secondary.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/link.write.1.tlog
StructTypeCasting/StructTypeCasting/x64/Debug/StructTy.4043466d.tlog/StructTypeCasting.lastbuildstate
StructTypeCasting/StructTypeCasting/x64/Debug/StructTypeCasting.exe.recipe
StructTypeCasting/StructTypeCasting/x64/Debug/StructTypeCasting.ilk
StructTypeCasting/StructTypeCasting/x64/Debug/StructTypeCasting.log
StructTypeCasting/StructTypeCasting/x64/Debug/vc143.idb
StructTypeCasting/StructTypeCasting/x64/Debug/vc143.pdb
StructTypeCasting/x64/Debug/StructTypeCasting.exe
StructTypeCasting/x64/Debug/StructTypeCasting.pdb
HeaderAndSource/.vs/HeaderAndSource/CopilotIndices/17.14.698.11175/CodeChunks.db
HeaderAndSource/.vs/HeaderAndSource/CopilotIndices/17.14.698.11175/SemanticSymbols.db
HeaderAndSource/.vs/HeaderAndSource/FileContentIndex/4313d6e9-6ede-48a6-85e4-3d426216df42.vsidx
HeaderAndSource/.vs/HeaderAndSource/FileContentIndex/8f84c163-c45a-482c-8c7b-60a9c5f7ce05.vsidx
HeaderAndSource/.vs/HeaderAndSource/FileContentIndex/ff4fa4d4-6d2f-4851-a207-20dbb7fadee1.vsidx
HeaderAndSource/.vs/HeaderAndSource/v17/.suo
HeaderAndSource/.vs/HeaderAndSource/v17/Browse.VC.db
HeaderAndSource/.vs/HeaderAndSource/v17/DocumentLayout.backup.json
HeaderAndSource/.vs/HeaderAndSource/v17/DocumentLayout.json
HeaderAndSource/.vs/HeaderAndSource/v17/ipch/AutoPCH/ceb9c87c1ed2bf17/MAIN.ipch
HeaderAndSource/.vs/HeaderAndSource/v17/ipch/AutoPCH/e5c3c5ac910353ea/HEADER.ipch
HeaderAndSource/HeaderAndSource.sln
HeaderAndSource/HeaderAndSource/HeaderAndSource.vcxproj
HeaderAndSource/HeaderAndSource/HeaderAndSource.vcxproj.filters
HeaderAndSource/HeaderAndSource/HeaderAndSource.vcxproj.user
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.exe.recipe
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.ilk
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.log
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/CL.command.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/Cl.items.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/CL.read.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/CL.write.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/HeaderAndSource.lastbuildstate
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/link.command.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/link.read.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/link.secondary.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/HeaderAndSource.tlog/link.write.1.tlog
HeaderAndSource/HeaderAndSource/x64/Debug/Main.obj
HeaderAndSource/HeaderAndSource/x64/Debug/vc143.idb
HeaderAndSource/HeaderAndSource/x64/Debug/vc143.pdb
HeaderAndSource/x64/Debug/HeaderAndSource.exe
HeaderAndSource/x64/Debug/HeaderAndSource.pdb
C++CodingStruct/.vs/C++CodingStruct/CopilotIndices/17.14.698.11175/CodeChunks.db
C++CodingStruct/.vs/C++CodingStruct/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
C++CodingStruct/.vs/C++CodingStruct/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
C++CodingStruct/.vs/C++CodingStruct/CopilotIndices/17.14.698.11175/SemanticSymbols.db
C++CodingStruct/.vs/C++CodingStruct/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
C++CodingStruct/.vs/C++CodingStruct/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
C++CodingStruct/.vs/C++CodingStruct/FileContentIndex/aff1eaf6-0377-42a7-aba7-952503aec2e0.vsidx
C++CodingStruct/.vs/C++CodingStruct/FileContentIndex/fb05d017-94c3-43db-ad4b-a31b5532004d.vsidx
C++CodingStruct/.vs/C++CodingStruct/v17/.suo
C++CodingStruct/.vs/C++CodingStruct/v17/Browse.VC.db
C++CodingStruct/.vs/C++CodingStruct/v17/Browse.VC.db-shm
C++CodingStruct/.vs/C++CodingStruct/v17/Browse.VC.db-wal
C++CodingStruct/.vs/C++CodingStruct/v17/Browse.VC.opendb
C++CodingStruct/.vs/C++CodingStruct/v17/DocumentLayout.backup.json
C++CodingStruct/.vs/C++CodingStruct/v17/DocumentLayout.json
C++CodingStruct/.vs/C++CodingStruct/v17/ipch/AutoPCH/fe42be1e561d7ca6/MAIN.ipch
C++CodingStruct/C++CodingStruct.sln
C++CodingStruct/C++CodingStruct/C++CodingStruct.vcxproj
C++CodingStruct/C++CodingStruct/C++CodingStruct.vcxproj.filters
C++CodingStruct/C++CodingStruct/C++CodingStruct.vcxproj.user
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.exe.recipe
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.ilk
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.log
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/C++CodingStruct.lastbuildstate
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/CL.command.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/Cl.items.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/CL.read.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/CL.write.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/link.command.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/link.read.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/link.secondary.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/C++CodingStruct.tlog/link.write.1.tlog
C++CodingStruct/C++CodingStruct/x64/Debug/Main.obj
C++CodingStruct/C++CodingStruct/x64/Debug/vc143.idb
C++CodingStruct/C++CodingStruct/x64/Debug/vc143.pdb
C++CodingStruct/x64/Debug/C++CodingStruct.exe
C++CodingStruct/x64/Debug/C++CodingStruct.pdb
C++CodingStruct/.vs/C++CodingStruct/FileContentIndex/0357afc3-600a-4277-a74c-6de478b4b63b.vsidx
TypeAndVariable/.vs/TypeAndVariable/CopilotIndices/17.14.698.11175/CodeChunks.db
TypeAndVariable/.vs/TypeAndVariable/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
TypeAndVariable/.vs/TypeAndVariable/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
TypeAndVariable/.vs/TypeAndVariable/CopilotIndices/17.14.698.11175/SemanticSymbols.db
TypeAndVariable/.vs/TypeAndVariable/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
TypeAndVariable/.vs/TypeAndVariable/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
TypeAndVariable/.vs/TypeAndVariable/FileContentIndex/32cd0a3c-5181-4f9f-a44b-82496abc07a7.vsidx
TypeAndVariable/.vs/TypeAndVariable/FileContentIndex/d457ab62-0986-41f4-a330-8f0373dddb2a.vsidx
TypeAndVariable/.vs/TypeAndVariable/v17/.suo
TypeAndVariable/.vs/TypeAndVariable/v17/Browse.VC.db
TypeAndVariable/.vs/TypeAndVariable/v17/Browse.VC.db-shm
TypeAndVariable/.vs/TypeAndVariable/v17/Browse.VC.db-wal
TypeAndVariable/.vs/TypeAndVariable/v17/Browse.VC.opendb
TypeAndVariable/.vs/TypeAndVariable/v17/DocumentLayout.backup.json
TypeAndVariable/.vs/TypeAndVariable/v17/DocumentLayout.json
TypeAndVariable/.vs/TypeAndVariable/v17/ipch/AutoPCH/276e39ea451f5ec1/MAIN.ipch
TypeAndVariable/TypeAndVariable.sln
TypeAndVariable/TypeAndVariable/TypeAndVariable.vcxproj
TypeAndVariable/TypeAndVariable/TypeAndVariable.vcxproj.filters
TypeAndVariable/TypeAndVariable/TypeAndVariable.vcxproj.user
TypeAndVariable/TypeAndVariable/x64/Debug/Main.obj
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.exe.recipe
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.ilk
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.log
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/CL.command.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/Cl.items.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/CL.read.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/CL.write.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/link.command.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/link.read.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/link.secondary.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/link.write.1.tlog
TypeAndVariable/TypeAndVariable/x64/Debug/TypeAndVariable.tlog/TypeAndVariable.lastbuildstate
TypeAndVariable/TypeAndVariable/x64/Debug/vc143.idb
TypeAndVariable/TypeAndVariable/x64/Debug/vc143.pdb
TypeAndVariable/x64/Debug/TypeAndVariable.exe
TypeAndVariable/x64/Debug/TypeAndVariable.pdb
