HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
HelloWorld/.vs/HelloWorld/v17/.suo
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-wal
HelloWorld/.vs/HelloWorld/FileContentIndex/8d9e7489-f216-40d4-827c-d29538cd8dcb.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/d866a22e-c599-40df-b59d-86e462dbf975.vsidx
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-shm
HelloWorld/.vs/HelloWorld/v17/Browse.VC.opendb
HelloWorld/.vs/HelloWorld/v17/DocumentLayout.backup.json
HelloWorld/.vs/HelloWorld/v17/DocumentLayout.json
HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/3937f8c7a437d518/HELLOWWORLD.ipch
HelloWorld/HelloWorld.sln
HelloWorld/HelloWorld/HelloWorld.vcxproj
HelloWorld/HelloWorld/HelloWorld.vcxproj.filters
HelloWorld/HelloWorld/HelloWorld.vcxproj.user
HelloWorld/HelloWorld/x64/Debug/HelloWorld.exe.recipe
HelloWorld/HelloWorld/x64/Debug/HelloWorld.ilk
HelloWorld/HelloWorld/x64/Debug/HelloWorld.log
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.command.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/Cl.items.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.read.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.write.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.command.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.read.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.secondary.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.write.1.tlog
HelloWorld/HelloWorld/x64/Debug/HellowWorld.obj
HelloWorld/HelloWorld/x64/Debug/vc143.idb
HelloWorld/HelloWorld/x64/Debug/vc143.pdb
HelloWorld/x64/Debug/HelloWorld.exe
HelloWorld/x64/Debug/HelloWorld.pdb
